<div class="examples">
    {{ range $.Site.Data.examples }}
    {{ if or (not ($.Get "only_id")) (eq ($.Get "only_id") .id) }}
        <div class="example-item-thumbnail" style="background-image: url('{{ .thumbnail }}');">
        </div>        
        <div class="example-item-content">
            <h2>{{ .name }}</h2>
            <div class="example-item-tags">
                {{ range .tags }}
                <div class="example-item-tag">{{.}}</div>
                {{ end }}
            </div>
            <div class="example-item-description">{{ .description | safeHTML }}</div>
            <div class="example-item-buttons">
                {{ range .buttons }}
                <a href="{{ .href }}" target="{{ .target }}" class="btn btn-lg btn-{{ .style }}">{{ .text }}</a>
                {{ end }}
            </div>
        </div>
    {{ end }}
    {{ end }}
</div>